.body_newproduct{
    margin: 0;
}
.header_product{
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 0px 16px
    rgba(0, 0, 0, 0.08);
}
.link{
    text-decoration: none;
    color: #8D8D8D;
}
.avatar{
    float: right;
    display: flex;
    margin-top: 15px;
    margin-right: 30px;
}
.header_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px
    rgba(0, 0, 0, 0.30);
}
.header_name {
    margin-top: 11px;
    float: right;
    margin-left: 15px;
    color: #4D4D4D;
    font-size: 18px;
}
.new_product{
    text-align: left;
    float: left;
}
.avat_new_product{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-left: 80px;
}
.add_new_detals {
    margin: 0 auto;
    background: #ffffff;
    margin-left: 80px;
    width: 350px;
    height: 580px;
    border-radius: 8px 0px 0px 8px;
    padding-top: 30px;
    padding-right: 75px;
    padding-bottom: 10px;
    float: left;
    box-shadow: 0px 0px 16px
    rgba(0, 0, 0, 0.05);
    font-size: 22px;
}
.add_new_product {
    margin: 0 auto;
    padding-top: 30px;
    background: #ededed;
    margin-bottom: 10%;
    width: 450px;
    height: 580px;
    border-radius: 0px 8px 8px 0px;
    padding-bottom: 10px;
    float: left;
    box-shadow: 0px 0px 16px
    rgba(0, 0, 0, 0.05);
}
.logo_simbol{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    color: #8d8d8d;
    font-size: 36px;
}
.product_text {
    margin-top: -45%;
    text-align: center;
    color: #8d8d8d;
}
.circle{
    background-image: url("../../assets/images/plus.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}